@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NOTE: This is a hack to resolve an issue with frontmatter getting rendered */
.post > h2:first-of-type {
  display: none;
}

.post > h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.post > h2 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.post {
  max-width: 800px;
  margin-top: 60px;
  margin-bottom: 60px;
}
